# EditorConfig: http://editorconfig.org/

root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

# 4 space indentation
[*.java]
indent_style = space
indent_size = 2

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4
