# EditorConfig: http://editorconfig.org/

root = true

# default to 2 space indentation
[*]
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
indent_style = space
indent_size = 2

# 4 space indentation
[*.py]
indent_size = 4
